/* Stildefinisjon for å gjøre inputfeltene like lange og for feilmeldinger */
.input-styling {
    display: grid;
    width: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
}

.error-message {
    color: red;
    display: none; /* Skjuler feilmeldingene som standard */
    margin-left: 5px; /* Litt plass mellom inputfeltet og feilmeldingen */
}

button {
    cursor: pointer; /* Endrer musepekeren til en hånd når den er over knappen */
    display: block; /* Sørger for at knappene er under hverandre */
    margin: 10px 0; /* Mellomrom over og under knappene */

    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.input-antall{
    padding: 10px;
}
/* fant ut at jeg måtte editte inni hver eneste input så ja.*/
#film {
    border-color: #660094;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #d16aff;
    border-radius: 5px;
}
#antall {
    border-radius: 5px;
    border-color: #660094;
}

#fornavn {
    border-radius: 5px;
    border-color: #660094;
}

#etternavn {
    border-radius: 5px;
    border-color: #660094;
}

#telefonnr {
    border-radius: 5px;
    border-color: #660094;
}

#email {
    border-radius: 5px;
    border-color: #660094;
}